<%= form_with(model: progress) do |form| %>
  <% if progress.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(progress.errors.count, "error") %> prohibited this progress from being saved:</h2>

      <ul>
        <% progress.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :user_id, "Select User", class: "form-label" %>
    <%= form.collection_select :user_id, User.all, :id, :username,
          { prompt: "Choose a user" },
          { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :challenge_id, "Select Challenge", class: "form-label" %>
    <%= form.collection_select :challenge_id, Challenge.all, :id, :name,
          { prompt: "Choose a challenge" },
          { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :points_earned, style: "display: block" %>
    <%= form.number_field :points_earned %>
  </div>

  <div>
    <%= form.label :update_frequency, style: "display: block" %>
    <%= form.text_field :update_frequency %>
  </div>

  <div class="mt-3">
    <%= form.submit "Create Progress", class: "btn btn-secondary" %>
  </div>

<% end %>
