<body class="bg-dark text-white">
  <%= yield %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <%= link_to "Fitness Tracker", root_path, class: "navbar-brand fw-bold" %>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <%= link_to "Challenges", challenges_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "Progresses", progresses_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
          </li>
      </ul>
      </div>
  </div>
  </nav>

  <% content_for :title, "Editing progress" %>

  <h1>Editing progress</h1>

  <%= render "form", progress: @progress %>

  <br>

  <div>
    <%= link_to "Show this progress", @progress, style: "color: cyan" %> |
    <%= link_to "Back to progresses", progresses_path, style: "color: cyan" %>
  </div>
</body>