<body class="bg-dark text-white">
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% content_for :title, "Progresses" %>

  <h1 class="mb-1 text-info"><strong>Progresses</strong></h1>

  <hr>

  <div id="progresses">
    <% @progresses.each do |progress| %>
      <%= link_to progress, class: "d-block text-white bg-dark border border-info rounded p-3 mb-4 text-decoration-none" do %>
        <h5 class="mb-1 text-info"><%= progress.challenge.name %></h5>
        <p class="mb-1">
            <strong class="text-info"><%= progress.user.username %></strong>
        </p>
      <% end %>
    <% end %>
  </div>

  
  <% if can? :create, Progress %>
    <%= link_to "New progress", new_progress_path,  class: "btn btn-secondary" %>
  <% end %>
</body>