<body class="bg-dark text-white">
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1><strong>
    Progress of
    <%= link_to @progress.user.username, @progress.user, class: "mb-1 text-info" %>
    in
    <%= link_to @progress.challenge.name, @progress.challenge, class: "mb-1 text-info" %>
  </strong></h1>

  <p class: "mb-1 text-info"><strong>Points Earned: </strong><strong><%= @progress.points_earned %></strong></p>
  <p><strong>Update Frequency:</strong> <%= @progress.update_frequency %></p>

  <div class="hstack gap-3">
    <% if can? :update, @progress %>
    <%= link_to "Edit this progress", edit_progress_path(@progress), class: "btn btn-info" %>
    <% end %>
    
    <%= link_to "Back to progresses", progresses_path, class: "btn btn-secondary" %>
    <br>
    <% if can? :destroy, @progress %>
     <%= button_to "Destroy this progress", @progress, method: :delete, data: { confirm: "Please confirm you want to proceed with the deletion." }, class: "btn btn-danger me-2" %>
    <% end %>
  </div>
</body>