<div class="bg-dark text-white">
  
  <div class="d-flex justify-content-center align-items-center">
    
    <%= image_tag "Left.jpeg", class: "d-none d-lg-block me-3", style: "height: 900px;" %>

    <div class="text-center">
      
      <%= link_to challenges_path, class: "d-block text-decoration-none mx-auto mb-4" do %>
      <div class="card shadow-sm mx-auto" style="width: 40rem;">
        <%= image_tag "CHALLENGES.jpg", class: "card-img-top" %>
      </div>
      <% end %>

      <%= link_to progresses_path, class: "d-block text-decoration-none mx-auto mb-4" do %>
      <div class="card shadow-sm mx-auto" style="width: 40rem;">
        <%= image_tag "PROGRESSES.jpg", class: "card-img-top" %>
      </div>
      <% end %>

      <%= link_to users_path, class: "d-block text-decoration-none mx-auto mb-4" do %>
      <div class="card shadow-sm mx-auto" style="width: 40rem;">
        <%= image_tag "USERS.jpg", class: "card-img-top" %>
      </div>
      <% end %>
      
    </div>
    <%= image_tag "Right.jpeg", class: "d-none d-lg-block ms-3", style: "height: 900px;" %>

  </div>
  
</div>

