<div id="<%= dom_id challenge %>">
  <p>
    <strong>Goal:</strong>
    <%= challenge.goal %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= challenge.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= challenge.description %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= challenge.categories %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= challenge.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= challenge.end_date %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= challenge.user_id %>
  </p>

</div>
