{
<div id="<%= dom_id challenge %>" class="py-2">
  <p class="mb-1">
    <strong class="text-secondary">Goal:</strong>
    <%= challenge.goal %>
  </p>

  <p class="mb-1">
    <strong class="text-secondary">Name:</strong>
    <%= challenge.name %>
  </p>

  <p class="mb-1">
    <strong class="text-secondary">Description:</strong>
    <%= challenge.description %>
  </p>

  <p class="mb-1">
    <strong class="text-secondary">Categories:</strong>
    <%= challenge.categories %>
  </p>

  <p class="mb-1">
    <strong class="text-secondary">Start date:</strong>
    <%= challenge.start_date %>
  </p>

  <p class="mb-1">
    <strong class="text-secondary">End date:</strong>
    <%= challenge.end_date %>
  </p>

  <p class="mb-1">
    <strong class="text-secondary">Creator:</strong>
    <%= challenge.user_id %>
  </p>
</div>
}
