<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <%= form_with(model: challenge, local: true) do |form| %>
        <% if challenge.errors.any? %>
          <div class="alert alert-danger" role="alert" id="error_explanation">
            <h4 class="alert-heading">
              <%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:
            </h4>
            <ul class="mb-0">
              <% challenge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :goal, class: "form-label" %><br>
          <%= form.text_field :goal, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :name, class: "form-label" %><br>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :description, class: "form-label" %><br>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :categories, class: "form-label" %><br>
          <%= form.select :category, Challenge.categories.keys.map { |r| [r.humanize, r] }, { prompt: "Choose a category" }, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= form.label :start_date, class: "form-label" %><br>
          <%= form.date_field :start_date, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :end_date, class: "form-label" %><br>
          <%= form.date_field :end_date, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :user_id, "Select Creator", class: "form-label" %><br>
          <%= form.collection_select :user_id, User.all, :id, :username, { prompt: "Choose a user" }, class: "form-select" %>
        </div>

        <div class="mt-4">
          <%= form.submit "Create Challenge", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>