<%= form_with(model: challenge, local: true) do |form| %>
  <% if challenge.errors.any? %>
    <div class="alert alert-danger" role="alert" id="error_explanation">
      <h4 class="alert-heading">
        <%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:
      </h4>
      <ul class="mb-0">
        <% challenge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :goal %><br>
    <%= form.text_field :goal %>
  </div>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :categories %><br>
    <%= form.select :category, Challenge.categories.keys.map { |r| [r.humanize, r] }, prompt: "Choose a category" %>
  </div>

  <div>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :user_id, "Select Creator" %><br>
    <%= form.collection_select :user_id, User.all, :id, :username, prompt: "Choose a user" %>
  </div>

  <div>
    <%= form.submit "Create Challenge", class: "btn btn-secondary" %>
  </div>
<% end %>
