<body class="bg-dark text-white">
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% content_for :title, "Challenges"%>

  <h1 class="mb-1 text-warning"><strong>Challenges</strong></h1>

  <hr>

  <div id="challenges">
      <% @challenges.each do |challenge| %>
        <%= link_to challenge, class: "d-block text-white bg-dark border border-warning rounded p-3 mb-4 text-decoration-none" do %>
          <h5 class="mb-1 text-warning"><%= challenge.name %></h5>
          <p class="mb-1">
            <strong class="text-secondary">Goal:</strong> 
            <%= challenge.goal %>
          </p>
        <% end %>
      <% end %>
  </div>
    
  <% if can? :create, Challenge %>
    <%= link_to "New challenge", new_challenge_path, class: "btn btn-secondary"%>
  <% end %>
</body>
