<body class="bg-dark text-white">
  <%= yield %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <%= link_to "Fitness Tracker", root_path, class: "navbar-brand fw-bold" %>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <%= link_to "Challenges", challenges_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "Progresses", progresses_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
          </li>
      </ul>
      </div>
  </div>
  </nav>

  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Challenges"%>

  <h1 style="color: orange"><strong>Challenges</strong></h1>

  <hr>

  <div id="challenges">
    <% @challenges.each do |challenge| %>
      <p><strong>Name:</strong> <%= challenge.name %></p>
      <p><strong>Goal:</strong> <%= challenge.goal %></p>
      <p>
        <%= link_to "Show this challenge", challenge, style: "color: orange" %>
      </p>
      <hr>
    <% end %>
  </div>

  <%= link_to "New challenge", new_challenge_path, class: "btn btn-secondary"%>
</body>