<body class="bg-dark text-white">
  <%= yield %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <%= link_to "Fitness Tracker", root_path, class: "navbar-brand fw-bold" %>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <%= link_to "Challenges", challenges_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "Progresses", progresses_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
          </li>
      </ul>
      </div>
  </div>
  </nav>

  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div>
    <h1><strong><%= @challenge.name %></strong></h1>
    <p><strong>Description:</strong> <%= @challenge.description %></p>
    <p style="color: orange"><strong>GOAL: <%= @challenge.goal %></strong></p>
    <p><strong>Categories:</strong> <%= @challenge.categories %></p>
    <p><strong>Start Date:</strong> <%= @challenge.start_date %></p>
    <p><strong>End Date:</strong> <%= @challenge.end_date %></p>
    <p><strong>Creator:</strong> <%= link_to @challenge.user.username, @challenge.user, style: "color: orange" %></p>
  </div>

  <div>
    <%= link_to "Edit this challenge", edit_challenge_path(@challenge), style: "color: orange" %> |
    <%= link_to "Back to challenges", challenges_path, style: "color: orange" %>
    <br>

    <%= button_to "Destroy this challenge", @challenge, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
  </div>
</body>