<body class="bg-dark text-white">
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div>
    <h1><strong><%= @challenge.name %></strong></h1>
    <p><strong>Description:</strong> <%= @challenge.description %></p>
    <p class="mb-1 text-warning"><strong>GOAL: <%= @challenge.goal %></strong></p>
    <p><strong>Categories:</strong> <%= @challenge.categories %></p>
    <p><strong>Start Date:</strong> <%= @challenge.start_date %></p>
    <p><strong>End Date:</strong> <%= @challenge.end_date %></p>
    <p><strong>Creator:</strong> <%= link_to @challenge.user.username, @challenge.user, style: "color: orange" %></p>
  </div>

  <div class="hstack gap-3">
    <%= link_to "Back to challenges", challenges_path, class: "btn btn-warning me-2" %>

    <% if can? :update, @challenge %>
          <%= link_to "Edit", edit_challenge_path(@challenge), class: "btn btn-secondary" %>
    <% end %>

    <% if can? :destroy, @challenge %>
      <%= button_to "Destroy this challenge", @challenge, method: :delete, data: { confirm: "Please confirm you want to proceed with the deletion." }, class: "btn btn-danger me-2" %>
    <% end %>
  </div>
</body>